.main {
  width: 189px; // 63
  height: 264px; // 88
  transform-style: preserve-3d;
  border: 1px solid black;
  border-radius: 1rem;

  & > * {
    border-radius: 1rem;
  }

  position: absolute;
  left: calc((390px / 2) - calc(189px / 2));
  transition: 0.5s;

  transform: rotateX(60deg) rotateY(180deg);

  &:last-child:hover {
    transform: rotateX(0) rotateY(0) translateY(-80px);
    scale: 1.5;
  }
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  box-sizing: border-box;
  background: white;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  transform: rotateX(0deg);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;

  .title {
    height: fit-content;
    line-height: 1;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0.5rem;
  }

  .desc {
    text-align: right;
    font-size: 1rem;
    margin: 0;
    padding: 0;
  }
}

.back {
  background-image: url("../../assets/back.png");
  background-size: cover;
  transform: rotateX(180deg) rotateZ(180deg);
}
